body{
    background-color: aqua;
}
.main_page {
    position: relative;
    width: 100%;
    height: 100vh;
}

#title_card {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: 100%;
}
#title_text{
    font-size: 10vw;
    text-align: center;
}

#balloons {
    position: absolute;
    top: 5%;
    left: 50%;
}
#balloons_img{
    width: 70%;
}
#cake {
    position: absolute;
    bottom: 20%;
    left: 50%;
}
#cake_img{
    width: 100%;
}
#send_text{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}
#send_link{
    font-size: 5vw;
}

.form{
    display: flex;
    flex-direction: column;
    /*background-color: rgb(117, 219, 163);*/
    background-image: linear-gradient(to right, rgb(0, 138, 138), rgb(121, 253, 121));
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 10px;
    border-radius: 5px;
    align-items: center;
}
.form_inputs{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

    border-color: rgb(27, 51, 27);
    border-width: 3px;
    border-radius: 5px;
}
#name_box{
    padding-top: 5px;
    padding-bottom: 5px;
}
#message_box{
    padding-top: 5px;
    padding-bottom: 50px;
}
#send_button{
    width: 30%;
    margin: 10px;
    padding: 10px;
    font-size: 17px;
    font-style: bold;
    font-family:'Times New Roman', Times, serif;

    border-color: rgb(27, 51, 27);
    border-width: 3px;
    border-radius: 5px;
    background-color: rgb(165, 214, 212);
}

/*
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none; 
    justify-content: center;
    align-items: center;
  }

  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
